
.head-btn{
  margin-left: 40px;
}



#uploaded-file {
  display: none;
}


#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.png');
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.head .upload{
  margin: 3.5em 0.3em 0.3em 0;
}

.head .stop-btn{
  margin: 10em 0.3em 0.3em 0;
}

.upload:hover{
  cursor: pointer;
  background-color: lightcoral;
}

.head img {
  z-index: 100;
    display: inline-block;
    position: inherit;
    height: 300px;
 
} 

.play-btn, .stop-btn, .upload{
  position: fixed;
  z-index: 100;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 7em 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  background-color:lightblue;
}
.play-btn:hover, .upload:hover{
  cursor: pointer;
  background-color: lightcoral;
}

.head-btn .circle{
  margin-top: 8em;
}
#contact-txt {
  margin-top: 10.5em;
}

.head-btn h4{
  /* color: whitesmoke; */
  z-index: 100;
  display: inline-block;
  position: fixed;
  z-index: 20;
  display: inline-block;
  padding: 0.3em 1.2em;
  /* margin: auto; */
  margin: 8.5em 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:whitesmoke;
}
.circle, .bars{
  position: fixed;
  z-index: 20;
  display: inline-block;
  padding: 0.3em 1.2em;
  /* margin: auto; */
  margin: 14em 0.3em 0.3em 2em;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  background-color:lightblue;
}

.circle:hover, .bars:hover{
    cursor: pointer;
    background-color: lightcoral;
}

.head-btn #circle {
  margin-top: 17em;
}

.contact {
  margin-right: 2em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#fa-link-in{
  margin-right: 4em;
}

.fa-linkedin{
  margin-top: 9.5em;
}

.fa-github{
  margin-top: 8em;
}

.fa:hover{
  background-color: lightcoral;
}

.fa{
  position: fixed;
  z-index: 20;
  display: flex;
  padding: 0.2em 0.5em;
  background-color: lightblue;
  border-radius: 2em;
  box-sizing: border-box;
  
}

